* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: transparent solid 1px;
}

a:hover {
    color: #007aff;
    border-bottom-color: red;
}